# API ключ от WeatherAPI.com
WEATHER_API_KEY=your_weather_api_key_here

# Настройки сервера (опционально)
HOST=0.0.0.0
PORT=8000 

# Токен Telegram-бота
BOT_TOKEN=your_telegram_bot_token_here

# URL веб-сервиса (если не localhost:8000)
API_BASE_URL=http://localhost:8000 